- content_for :title, "Edit Moderators"

.row
  .col-md-12
    %h2.page-header Activate / Deactivate Moderator Account
  .col-md-6
    %h3 Enter the moderator's email below.
    = form_for(@alteredMod) do |f|
      = f.label :email
      = f.text_field :email, class: "form-control"
      %br
      = f.submit "Update", class: "btn btn-primary"
      = link_to "Back", modpanel_path, class: "btn btn-default"
