- content_for :title, 'Moderator Controls'
%p#notice.bg-info.text-center= notice

.panel-container
  .row
    .col-md-9.col-sm-12
      %h2 Welcome #{current_mod.email}
    .col-md-3.pull-right.col-sm-12
      %h4 Quick Links
      %table.table
        %tr
          %td
            %a{:href => modlist_path} View Moderators
        %tr
          %td
            %a{:href => modedit_path} Edit Moderators
        %tr
          %td
            %a{:href => wallpapers_path} Wallpaper Management
        %tr
          %td
            %a{:href =>  events_path} View Events
        %tr
          %td
            %a{:href =>  new_event_path} Create Event
        %tr
          %td
            %a{:href => contacts_edit_path} Edit Contact Details

    .col-md-9.col-sm-12
      %h3 Edits Waiting Approval
      %table.table.table-bordered
        %tr
          %th Record Name
          %th Date Edited
        - @approveRec.each do |edit|
          %tr
            %td
              %a{:href => "/media/#{edit.medium_id}?record_id=#{edit.id}"} #{edit.title}
            %td= edit.updated_at.to_formatted_s(:long)
