- content_for :title, "Wallpapers"
%p#notice.bg-info.text-center= notice

.row
  / Upload Wallpaper form
  .col-md-12
    .page-header
      %h2 Upload New Wallpaper
    = simple_form_for(Wallpaper.new, html: {multipart: true}) do |f|
      = f.error_notification
      .row
        .col-md-6
          .form-inputs
            = f.input :description

        .col-md-5.col-md-offset-1
          = f.input :image, as: :file
          %p.text-danger Recommend image with resolution of 1920 * 1080

          %label.control-label Preview Image
          %img.img-responsive.img-thumbnail.hidden{:id => "preview_image"}
      .form-actions
        = f.button :submit, :class => "btn btn-primary"

  / List of exisitng wallpaper if there is one
  .col-md-12
    .page-header
      %h2 Current Wallpapers

    - if @wallpapers.exists?
      - @wallpapers.each do |wallpaper|
        .col-md-4
          .thumbnail.show-buttons
            = image_tag(wallpaper.image.url, alt: "#{wallpaper.image.file.identifier}")
            = link_to 'Edit', edit_wallpaper_path(wallpaper), :class => "btn btn-default edit-button"
            = link_to 'Delete', wallpaper, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger delete-button"
            .caption
              %p= wallpaper.description
    - else
      / Show this if there is 0 wallpaper in database
      %h4.text-center There is 0 wallpaper in database, please use form above to upload new wallpaper

// Javascript for preview image
:javascript
  document.getElementById("wallpaper_image").onchange = function () {
      var reader = new FileReader();

      reader.onload = function (e) {
          // get loaded data and render thumbnail.
          document.getElementById("preview_image").src = e.target.result;
      };

      // read the image file as a data URL.
      reader.readAsDataURL(this.files[0]);
      document.getElementById("preview_image").classList.remove("hidden");
      document.getElementById("preview_image").classList.add("show");
};
