%p#notice= notice

= simple_form_for(Wallpaper.new, html: {multipart: true}) do |f|
  = f.error_notification
  .row
    .col-md-6
      .form-inputs
        = f.input :description

    .col-md-5.col-md-offset-1
      = f.input :image, as: :file
  .form-actions
    = f.button :submit

%h1 Listing wallpapers

%table
  %thead
    %tr
      %th Image
      %th Description
      %th
      %th
      %th

  %tbody
    - @wallpapers.each do |wallpaper|
      %tr
        %td= wallpaper.image
        %td= wallpaper.description
        %td= link_to 'Show', wallpaper
        %td= link_to 'Edit', edit_wallpaper_path(wallpaper)
        %td= link_to 'Destroy', wallpaper, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Wallpaper', new_wallpaper_path
