%h3 Do not reply to this email

%p
  = @greeting

%p
  They are reporting
  = @title
%p
  = @name
  ,  has written :

%br

%p
  = @message

%br

%p
  = @url
  Add this to the homepage url to view the page they are reporting.

%p You may contact them via their email : #{@email}