= simple_form_for(@event, html: {multipart: true})   do |f|
  = f.error_notification
  .row
    .col-md-6
      .form-inputs

        = f.input :title

        = f.input :location

        = f.input :time

        = f.input :date

        = f.input :description, :input_html => {:rows => 15}

    .col-md-5.col-md-offset-1
      = f.input :image, as: :file
      - if f.object.image?
        = image_tag f.object.image.url
  .form-actions
    = f.button :submit
