- content_for :title, @event.title
%p#notice.bg-info.text-center= notice

// Show detail of an event
.row#event
  .col-md-12
    .page-header
      %h1= @event.title

  .col-md-12
    .row
      .col-md-4
        // Image
        = image_tag(@event.image.url, class: "img-responsive img-thumbnail", alt: "#{@event.image.file.identifier unless @event.image.file.nil?}")
        %br
        %br
        // Location
        %p
          %span.fa.fa-home{"aria-hidden" => "true"}
          %strong Location:
          = @event.location

        // Date
        %p
          %span.fa.fa-calendar{"aria-hidden" => "true"}
          %strong Date:
          = @event.date

        // Time
        %p
          %span.fa.fa-clock-o{"aria-hidden" => "true"}
          %strong Time:
          = @event.time
        -# only mod can see edit, delete button
        - if mod_signed_in?
          = link_to 'Edit', edit_event_path(@event), :class => "btn btn-default"
          = link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default"
      .col-md-8
        -# Event description
        .panel.panel-info
          .panel-heading
            %h4
              Event Description
          .panel-body
            = simple_format(@event.description)

        = link_to events_path, :class => "btn btn-default pull-right" do
          %span.fa.fa-arrow-left{"aria-hidden" => "true"}
          Back to event list
        - if can?(:read, Impression)
          = "#{@event.impressionist_count} unique views of this event."
