%p#notice= notice

.row#event
  .col-md-8
    .row
      .col-md-4
        = image_tag(@event.image.url, class: "img-responsive img-thumbnail", alt: "#{@event.image.file.identifier unless @event.image.file.nil?}")
        %br
        %br
        - if mod_signed_in?
          %button.btn.btn-default= link_to 'Edit', edit_event_path(@event)
          %button.btn.btn-default= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }
      .col-md-8
        .panel.panel-info
          .panel-heading
            %h4
              = @event.title
          .panel-body
            = simple_format(@event.description)
        .panel.panel-info
          .panel-heading Location
          .panel-body
            = @event.location
        .panel.panel-info
          .panel-heading Date
          .panel-body
            = @event.date
        .panel.panel-info
          .panel-heading Time
          .panel-body
            = @event.time

  .col-md-3.col-md-offset-1
    = render 'list', :events => @events
