- content_for :title, "Home"

-# Image slider
.carousel.slide{:id=>"slide-images", :data => {:ride => "carousel"}}
  .carousel-inner
    .item.active
      = image_tag("image-slides/image-slide-1.jpg")
      .carousel-caption
        %h3 Picture 1
    .item
      = image_tag("image-slides/image-slide-2.jpg")
      .carousel-caption
        %h3 Picture 2
    .item
      = image_tag("image-slides/image-slide-3.jpg")
      .carousel-caption
        %h3 Picture 3

-# Main body
-# Welcome
.row.custom-panel
  .col-md-12
    .page-header
      %h1 Welcome to Village Memories Group Website

    %p (Group description might goes here with an image ?) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?

-# Search bar
.row.custom-panel
  .col-md-12
    .page-header
      %h1 Find what you need here
  .col-md-12
    = form_tag(search_path, method: "post", id: "search-bar") do
      .form-group.form-inline
        .input-group
          = text_field_tag(:search, params[:search], :class => "form-control", :placeholder => "Search here!")
          %span.input-group-btn
            = submit_tag("Search", :class => "btn btn-primary" )
      = check_box_tag("items[]", "Recording", false)
      = label_tag(:age_adult, "Recording")
      = check_box_tag("items[]", "Document",  false)
      = label_tag(:age_child, "Document")
      = check_box_tag("items[]", "Image",  false)
      = label_tag(:age_child, "Image")
      = check_box_tag("items[]", "Text",  false)
      = label_tag(:age_adult, "Text")

-# More services
.row.custom-panel
  .col-md-12
    .page-header
      %h1 Recent activities

  .col-md-6
    .panel.panel-info
      .panel-heading
        %h4 Recent Uploads

  .col-md-6
    = render 'events/list', :events => @events
