- content_for :title, "Home"

// Image slider
- if @wallpapers.exists?
  .carousel.slide.carousel-fade{:id=>"wallpapers", :data => {:ride => "carousel"}}
    .carousel-inner
      - @wallpapers.each_with_index do |wallpaper, index|
        .item{ class: "#{ "active" if index == 0 }"}
          = image_tag(wallpaper.image.url, alt: "#{wallpaper.image.file.identifier}")
          .carousel-caption
            %h3= wallpaper.description

-#  %a.left.carousel-control{"data-slide" => "prev", :href => "#walpapers", :role => "button"}
-#    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
-#    %span.sr-only Previous
-#  %a.right.carousel-control{"data-slide" => "next", :href => "#wallpapers", :role => "button"}
-#    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
-#    %span.sr-only Next

// Main body
// Welcome
.row
  .col-md-12
    .page-header
      %h1 Welcome To Village Memories Group Website
  .col-md-12
    -# Editable content
    %div.mercury-region#description_content{ data: { mercury: 'full' } }
      =raw @homepage_description.content unless @homepage_description.nil?

    - if mod_signed_in?
      = link_to "Edit Page", "/editor" + request.path, class: "pull-right", id: "edit_link", data: {save_url: mercury_update_homepage_page_path(@homepage_description)}
%br

// Search bar
.row
  .col-md-12
    .page-header
      %h2 Find What You Need Here
  .col-md-12.col-md-offset-1
    = form_tag(search_path, method: "get", id: "search-bar") do
      .form-group.form-inline
        .input-group
          = text_field_tag(:search, params[:search], :class => "form-control", :placeholder => "Search here!")
          %span.input-group-btn
            = submit_tag("Search", :class => "btn btn-primary" )
      = check_box_tag("items[]", "Recording", false)
      = label_tag(:age_adult, "Recording")
      = check_box_tag("items[]", "Document",  false)
      = label_tag(:age_child, "Document")
      = check_box_tag("items[]", "Image",  false)
      = label_tag(:age_child, "Image")
      = check_box_tag("items[]", "Text",  false)
      = label_tag(:age_adult, "Text")

%br
// Recent Activities
.row
  .col-md-12
    .page-header
      %h2 Recent Activities

  // Newest uploads
  .col-md-6
    .panel.panel-info
      .panel-heading
        %h4 Newest Uploads
        -# With reverse, newest upload will be at the top of the table
        -ids = Medium.ids.last(5).reverse
        -results = []
        -ids.each do |id|
          -result = Record.where(:medium_id => id,:approved => true).order(:created_at).last
          -if result
            -results.append(result)
        -
      %table.table.table-bordered
        %tr
          %th Title
          %th Type
        -results.each do |item|
          %tr
            %td
              %a{:href => "media/#{raw(item[:medium_id])}"}
                =item.title
            %td
              = Medium.where(:id => item.medium_id).first.class.name
  // Recent Events
  .col-md-6
    = render 'events/list', :events => @events
