- content_for :title, "Contact"

.row
  .col-md-12
    .page-header
      %h1 Contact Us
  .col-md-12
    .panel.panel-default
      .panel-body
        .col-md-8#contact-form
          %h2 Send us a Message
          = simple_form_for @contact do |f|
            = f.input :name, :required => true
            = f.input :email, :required => true
            = f.input :message, :as => :text, :input_html => {:rows => 10}, :required => true
            = recaptcha_tags
            %br
            = f.button :submit, 'Send message', :class=> "btn btn-primary"

        .col-md-4
          %h2 Contact details
          %p
            %span.fa.fa-home{"aria-hidden" => "true"}
            %strong Address:
            = @editable_contents[0].content
          %p
            %span.fa.fa-phone{"aria-hidden" => "true"}
            %strong Phone:
            = @editable_contents[1].content
          %p
            %span.fa.fa-calendar{"aria-hidden" => "true"}
            %strong Working Hour:
            = @editable_contents[2].content
