- content_for :title, "Report"

.row
  .col-md-12
    .page-header
      %h1 Report a problem for
      %h2
        =params[:record_title]
  .col-md-12
    .panel.panel-default
      .panel-body
        .col-md-8#contact-form
          %h2 Send us a Message
          = simple_form_for report_path do |f|
            = f.input :name, :required => true
            = f.input :email, :required => true
            = f.input :message, :as => :text, :input_html => {:rows => 10}, :required => true
            .hidden
            = recaptcha_tags
            %br
            = f.button :submit, 'Send message', :class=> "btn btn-primary"

