%h1 Contribute

%div.panel.panel-default
  %div.panel-body
    %ul.nav.nav-pills
      %li.active{:role => 'presentation'}
        %a{ :href => '#'} Oral Recording
      %li{:role => 'presentation'}
        %a{ :href => '#'} Document
      %li{:role => 'presentation'}
        %a{ :href => '#'} Image
      %li{:role => 'presentation'}
        %a{ :href => '#'} Text

    %hr

    = simple_form_for(@medium) do |f|
      = f.input :upload, as: :file, :label => false
      = f.input :upload_cache, as: :hidden

      = f.simple_fields_for :records, f.object.records.build do |r|
        = r.input :title, required: true
        = r.input :location
        = r.input :description, as: :text, required: true
        = r.input :ref_date, :label => 'Date', :include_blank => true

      %hr
      %h4 Village Memories Group may use my contribution for:

      = f.input :public_ref, :label => 'Public reference, eg talks, exhibitions'
      = f.input :education_use, :label => 'Educational use, eg in schools'
      = f.input :public_archive, :label => 'Public archive'
      = f.input :publication, :label => 'Publication'
      = f.input :broadcasting, :label => 'Broadcasting use on radio/TV or on the web'
      = f.input :editing, :label => 'Editing for the above purposes'

      %hr

      = f.input :copyright, :as => :boolean,
          :label => 'I agree to transfer full copyright of the media to Village Memories (BRMLA)', required: true
      = recaptcha_tags

      %br

      = f.button :submit, 'Upload', class: 'btn btn-primary'