%h1 Upload

%div.panel.panel-default
  %div.panel-body
    = simple_form_for(@medium) do |f|
      = f.input :upload, as: :file, :label => false
      = f.input :upload_cache, as: :hidden

      = f.simple_fields_for :records, f.object.records.build do |r|
        = r.input :title
        = r.input :location
        = r.input :description, as: :text
        = r.input :ref_date, :label => 'Date'

      %hr
      %h4 Village Memories Group may use my contribution for:

      = f.input :public_ref, :label => 'Public reference, eg talks, exhibitions'
      = f.input :education_use, :label => 'Educational use, eg in schools'
      = f.input :public_archive, :label => 'Public archive'
      = f.input :publication, :label => 'Publication'
      = f.input :broadcasting, :label => 'Broadcasting use on radio/TV or on the web'
      = f.input :editing, :label => 'Editing for the above purposes'

      %hr

      = f.input :copyright, :as => :boolean, :label => 'I agree to transfer full copyright of the media to Village Memories (BRMLA)'
      = recaptcha_tags

      %br

      = f.button :submit, 'Upload', class: 'btn btn-primary'