- content_for :title, @current_record.title

- content_for :scripts do
  = javascript_include_tag 'map'
  = javascript_include_tag 'media'
  %script{:src => "//maps.google.com/maps/api/js", :type => "text/javascript"}
    = yield :scripts

.row
  .col-md-8
    = form_tag(medium_url,  :method=>'get') do
      Edit History
      - if mod_signed_in?
        = select_tag 'record_id', options_for_select(@medium.all_records.reverse.collect {|a| [a.to_s_mod , a.id]},  @current_record.id)
      - else
        = select_tag 'record_id', options_for_select(@medium.approved_records.reverse.collect {|a| [a.to_s , a.id]},  @current_record.id)
      = submit_tag 'View', name: nil, class: 'btn btn-default'
  .col-md-2
  - # Only the latest record can be edified to reduce conflicts
  - if @current_record == @medium.latest_approved_record
    .col-md-1
      = link_to 'Edit', edit_medium_path, {class: 'btn btn-warning pull-right'}
  .col-md-1.pull-right
    = form_tag(report_path, method: "post", id: "report_record") do
      -#put some hidden fields here
      = hidden_field_tag :medium_id, @current_record.medium_id
      = hidden_field_tag :record_title, @current_record.title
      = submit_tag('Report', class: 'btn btn-danger pull-right' )

- if mod_signed_in?
  %br
  .row
    .col-md-12
      = form_tag(approve_medium_url,  :method=>'get') do
        = hidden_field_tag :record_id, @current_record.id
        = submit_tag 'Approve Edit', name: 'approve', class: 'btn btn-primary' unless @current_record.approved?
        = submit_tag 'Remove Edit', name: 'remove', class: 'btn btn-danger pull-right'

%br
%div.panel.panel-default
  %div.panel-body.record
    .row
      .col-md-4.col-sm-6
        %h2 #{@current_record.title}
      .col-md-3.col-sm-6.date.pull-right
        #{@current_record.ref_date.to_formatted_s(:long) if @current_record.ref_date?}
    - unless @current_record.description.nil?
      .row.description
        .col-md-6.col-sm-12
          #{@current_record.description}

    .row
      - if @medium.class.name == 'Recording'
        .col-md-12
          %audio{controls: '', preload: 'auto'}
            %source{src: @medium.upload.url }
          :javascript
            $(function() {
                $('audio').mediaelementplayer({
                  audioWidth: '100%',
                  enableAutosize: true,});
            });
      - elsif @medium.class.name == 'Document'
        .col-md-12
          %object{data: @medium.upload.url}
      - elsif @medium.class.name == 'Text'
        .col-md-12
          #{File.read(@medium.upload.path)}
      - elsif @medium.class.name == 'Image'
        .col-md-12
          %img{:src => @medium.upload.url,:width=>'100%'}


    - if @medium.class.name == 'Recording' && (not @medium.transcript.url.nil?)
      .row
        .col-md-12
          %object{:data => @medium.transcript.url, :height => '300px'}

    - if @current_record.location?
      %br
      .row.col-md-12
        #{@current_record.location}
    - if @current_record.latitude?
      %br
      #map-container.row.col-md-12.col-sm-12
        #map{:style => 'height: 250px;'}

-#This is the code for the view/remove relevant links modal
%button.btn.btn-info.btn-lg{"data-target" => "#remove-link", "data-toggle" => "modal", :type => "button"} View Relevant Links
/ Modal
#remove-link.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Relevant Links
      .modal-body
        -links = Link.all
        -results = []
        -links.each do |link|
          -if link.med_one == @current_record.medium_id && Medium.where(:id => link.med_two).first.class.name != 'Image'
            -result = Record.where(:medium_id => link.med_two,:approved => true).order(:created_at).last
            -if result
              -results.append(result)
          -elsif link.med_two == @current_record.medium_id && Medium.where(:id => link.med_one).first.class.name != 'Image'
            -result = Record.where(:medium_id => link.med_one,:approved => true).order(:created_at).last
            -if result
              -results.append(result)
        %table.table.table-bordered
          %tr
            %th Title
            %th Type
          -results.each do |item|
            %tr
              %td
                %a{:href => media_path+ "/#{raw(item[:medium_id])}"}
                  =item.title
              %td
                = Medium.where(:id => item.medium_id).first.class.name

              %td
                = form_tag(media_url+'/'+@current_record.medium_id.to_s, method: 'get', id: 'delete_link') do
                  .form-group.form-inline
                    .input-group
                      -if results
                        -returnLink_one = Link.where(:med_two => item.medium_id, :med_one => @current_record.medium_id).first
                        -if returnLink_one.nil?
                          -returnLink_two = Link.where(:med_one => item.medium_id, :med_two => @current_record.medium_id).first.id
                          = hidden_field_tag(:link_id, params[:link_id], :value => "#{returnLink_two}")
                        -else
                          = hidden_field_tag(:link_id, params[:link_id], :value => "#{returnLink_one.id}")
                        %span.input-group-btn
                          = submit_tag('Remove', :class => 'btn btn-danger')
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

-#This is the code for the view/remove relevant images modal
%button.btn.btn-warning.btn-lg{"data-target" => "#remove-img", "data-toggle" => "modal", :type => "button"} View Relevant Images
/ Modal
#remove-img.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Relevant images
      .modal-body
        -links = Link.all
        -results = []
        -links.each do |link|
          -if link.med_one == @current_record.medium_id && Medium.where(:id => link.med_two).first.class.name == 'Image'
            -result = Record.where(:medium_id => link.med_two,:approved => true).order(:created_at).last
            -if result
              -results.append(result)
          -elsif link.med_two == @current_record.medium_id && Medium.where(:id => link.med_one).first.class.name == 'Image'
            -result = Record.where(:medium_id => link.med_one,:approved => true).order(:created_at).last
            -if result
              -results.append(result)
        -#      only shows a table, tried to do a carousel- didnt work.
        %table.table.table-bordered
          %tr
            %th Title
            %th Type
          -results.each do |item|
            %tr
              %td
                %a{:href => media_path+ "/#{raw(item[:medium_id])}"}
                  =item.title
              %td
                = Medium.where(:id => item.medium_id).first.class.name

              %td
                = form_tag(media_url+'/'+@current_record.medium_id.to_s, method: 'get', id: 'delete_link') do
                  .form-group.form-inline
                    .input-group
                      -if results
                        -returnLink_one = Link.where(:med_two => item.medium_id, :med_one => @current_record.medium_id).first
                        -if returnLink_one.nil?
                          -returnLink_two = Link.where(:med_one => item.medium_id, :med_two => @current_record.medium_id).first.id
                          = hidden_field_tag(:link_id, params[:link_id], :value => "#{returnLink_two}")
                        -else
                          = hidden_field_tag(:link_id, params[:link_id], :value => "#{returnLink_one.id}")
                        %span.input-group-btn
                          = submit_tag('Remove', :class => 'btn btn-danger')
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
-#This is the code for the add revelevant links modal
%button.btn.btn-info.btn-lg{"data-target" => "#add-link", "data-toggle" => "modal", :type => "button"} Add Relevant Links
/ Modal
#add-link.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Relevant links!
      .modal-body
        %table.table.table-bordered
          %tr
            %th Title
            %th Type
            %th Add
          -#  todo check here that they are not already linked.
          -Medium.all.each do |med|
            -if @current_record.medium_id != med.id && med.class.name != 'Image' && Link.where(:med_one => med.id).first.nil? && Link.where(:med_two => med.id).first.nil?
              %tr
                %td
                  -if med.where(:medium_id => med.id, :approved => true).first.nil?
                    = med.latest_record.title
                  -else
                    = med.latest_approved_record.title
                %td
                  = med.class.name
                %td
                  = form_tag(media_url+'/'+@current_record.medium_id.to_s, method: "get", id: "link-up") do
                    .form-group.form-inline
                      .input-group
                        = hidden_field_tag(:med_one, params[:med_one], :value => "#{@current_record.medium_id}")
                        = hidden_field_tag(:med_two, params[:med_two], :value => "#{med.id}")
                        %span.input-group-btn
                          = submit_tag('Add', :class => 'btn btn-primary' )
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'} Close

-#This is the code for the add revelevant images!! modal
%button.btn.btn-warning.btn-lg{"data-target" => "#add-img", "data-toggle" => "modal", :type => "button", } Add Relevant Images
/ Modal
#add-img.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Relevant images!
      .modal-body
        %table.table.table-bordered
          %tr
            %th Title
            %th Type
            %th Add
          -#  todo check here that they are not already linked.
          -Medium.all.each do |med|
            -if @current_record.medium_id != med.id && med.class.name == 'Image' && Link.where(:med_one => med.id).first.nil? && Link.where(:med_two => med.id).first.nil?
              %tr
                %td
                  -if record.where(:medium_id => med.id, :approved => true).first.nil?
                    = med.latest_record.title
                  -else
                    = med.latest_approved_record.title
                %td
                  = med.class.name
                %td
                  = form_tag(media_url+'/'+@current_record.medium_id.to_s, method: "get", id: "link-up") do
                    .form-group.form-inline
                      .input-group
                        = hidden_field_tag(:med_one, params[:med_one], :value => "#{@current_record.medium_id}")
                        = hidden_field_tag(:med_two, params[:med_two], :value => "#{med.id}")
                        %span.input-group-btn
                          = submit_tag('Add', :class => 'btn btn-primary' )
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'} Close

:javascript
   //This is the map declaration, with the center and zoom etc.
   //It is unlikely that changes will need to be made here.
   var latlng = new google.maps.LatLng(parseFloat("#{@current_record.latitude}"),parseFloat("#{@current_record.longitude}"));
  map = new GMaps({
    el: '#map',
    lat: parseFloat("#{@current_record.latitude}"),
    lng: parseFloat("#{@current_record.longitude}"),
    zoom: 13
  });
  map.addMarker({position:latlng});
