- content_for :title, "Report"

.row
  .col-md-12
    .page-header
      %h1 Report a problem for
      %h2
        =params[:record_title]
  .col-md-12
    .panel.panel-default
      .panel-body
        .col-md-8#contact-form
          %h2 Send us a Message
          = simple_form_for @report do |f|
            = f.input :name, :required => true
            = f.input :email, :required => true
            = f.input :message, :as => :text, :input_html => {:rows => 10}, :required => true
            = f.input :id, :required => true, as: :hidden, input_html: {id:'reportid-input'}
            = f.input :title, :required => true, as: :hidden, input_html: {id: 'title-input'}
            -#= recaptcha_tags
            %br
            = f.button :submit, 'Report', :class=> "btn btn-primary"



:javascript
  $("#reportid-input").val("#{@id}")
  $("#title-input").val("#{@title_name}")

