!!!
%html
  %head
    %title Village Memories Group - #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    = stylesheet_link_tag    "application", media: :all
    = javascript_include_tag "application"
    = yield :scripts

    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body{ class: environment_notice_body_class }
    = render 'layouts/environment_notice'
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            - if name == 'notice'
              = fa_icon('check', class: 'flash-success')
            - else
              = fa_icon('warning', class: 'flash-error')
            = msg
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss


    %noscript
      .warning-page-cover
        .alert.alert-info
          %h2 Sorry, it appears that you are using a web browser without JavaScript which prevents us offering you a rich online experience.
          %p Please enable JavaScript or use a different, up to date, web browser.

    .container
      %nav.navbar.navbar-default.header-nav
        .container-fluid
          .row
            .navbar-header
              %button.navbar-toggle{'data-toggle' => 'collapse', 'data-target' => '#navLinks'}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %h2{:class => "nav-title"} Village Memories Group
            %div.col-sm-5.col-md-5.pull-right.collapse.navbar-collapse#navLinks
              %ul.nav.navbar-nav
                = navbar_link_to :root, title: "Go to the home page", identifier: :X do
                  Home
                = navbar_link_to new_recording_path, title: "Go to the upload page", identifier: :X do
                  -#see https://fortawesome.github.io/Font-Awesome/icons/ for these fa_icon
                  Contribute
                = navbar_link_to about_path, title: "Go to the about page", identifier: :X do
                  -#see https://fortawesome.github.io/Font-Awesome/icons/ for these fa_icon
                  About
                = navbar_link_to '#', title: "Go to the event page", identifier: :X do
                  -#see https://fortawesome.github.io/Font-Awesome/icons/ for these fa_icon
                  Events
                = navbar_link_to map_path, title: "Go to the map page", identifier: :X do
                  Interactive Map
                = navbar_link_to contact_path, title: "Go to the contact page", identifier: :X do
                  -#see https://fortawesome.github.io/Font-Awesome/icons/ for these fa_icon
                  Contact
          .row
            .navbar-header
              %h4{:class => "nav-title"} Braithwell, Micklebring and Clifton Villages
            %div.col-sm-5.col-md-5.pull-right
              = form_tag(search_path, method: "get") do
                = text_field_tag(:search, params[:search], :class => "form-control")
                = radio_button_tag(:type, "Recording", :checked => true)
                = label_tag(:age_adult, "Recording")
                = radio_button_tag(:type, "Document")
                = label_tag(:age_child, "Document")
                = radio_button_tag(:type, "Image")
                = label_tag(:age_child, "Image")
                = radio_button_tag(:type, "Text")
                = label_tag(:age_adult, "Text")
                = submit_tag("Search", :class => "btn btn-default")
      -#              TODO stop this being fucked up.... sorry to whoever did it.

      #main-container
        = yield

      %footer#footer
        %nav.navbar.navbar-default
          .row#footer-row
            .col-md-6
              %div.footer_img
                = image_tag('lottery_img.png')
            - if mod_signed_in? && (request.path == "/modpanel" || request.path == "/modlist")
              .col-md-3.pull-right#moderator-login
                = link_to destroy_mod_session_path, method: :delete, class: "pull-right", title: "Log out" do
                  %i.fa.fa-sign-out
                  Moderator Logout
            - elsif mod_signed_in?
              .col-md-3.pull-right#moderator-login
                %a.pull-right{:href => "/modpanel"} Moderator Controls
            - else
              .col-md-3.pull-right#moderator-login
                %a.pull-right{:href => "/modpanel"} Moderator Login
