!!!
%html
  %head
    %title Village Memories Group - #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    = stylesheet_link_tag    "application", media: :all
    = javascript_include_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body{ class: environment_notice_body_class }
    = render 'layouts/environment_notice'
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            - if name == 'notice'
              = fa_icon('check', class: 'flash-success')
            - else
              = fa_icon('warning', class: 'flash-error')
            = msg
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss


    %noscript
      .warning-page-cover
        .alert.alert-info
          %h2 Sorry, it appears that you are using a web browser without JavaScript which prevents us offering you a rich online experience.
          %p Please enable JavaScript or use a different web browser, or alternatively contact the CiCS Helpdesk for assistance.

    #wrap
      %nav#main-nav.navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{ data: { target: ".navbar-collapse", toggle: :collapse, type: :button } }
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to :root, class: 'navbar-brand hidden-sm' do
              Village Memories Group

          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              = navbar_link_to :root, title: "Go to the home page", identifier: :home do
                = fa_icon 'home'
                Home
              = navbar_link_to '#', title: "Go to another page", identifier: :another_page do
                = fa_icon 'question-circle'
                Another Page
            -# - if user_signed_in?
            -#   %ul.nav.navbar-nav.navbar-right
            -#     %li.dropdown
            -#       = link_to '#', data: { toggle: :dropdown }, class: 'dropdown-toggle' do
            -#         = fa_icon 'user', text: current_user.email
            -#         %b.caret
            -#       %ul.dropdown-menu
            -#         %li
            -#           = link_to destroy_user_session_path, method: :delete, title: "Log out of the system" do
            -#             %i.fa.fa-sign-out
            -#             Log out

      #main-container.container

        = yield

    %footer#footer
      .container
        %p
          &copy;#{Date.today.year}
          = link_to 'Memories Group', 'https://www.harryh.eu', target: '_blank', title: 'Go to VMG Homepage'
