!!!
%html
  %head
    %title Village Memories Group - #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}
    = stylesheet_link_tag    "application", media: :all
    = javascript_include_tag "application"

    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body{ class: environment_notice_body_class }
    = render 'layouts/environment_notice'
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            - if name == 'notice'
              = fa_icon('check', class: 'flash-success')
            - else
              = fa_icon('warning', class: 'flash-error')
            = msg
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss


    %noscript
      .warning-page-cover
        .alert.alert-info
          %h2 Sorry, it appears that you are using a web browser without JavaScript which prevents us offering you a rich online experience.
          %p Please enable JavaScript or use a different web browser, or alternatively contact the CiCS Helpdesk for assistance.

    .container
      %nav.navbar.navbar-default
        .container-fluid
          .row
            .col-md-7
              .navbar-header
                %h2{:class => "nav-title"} Village Memories Group
                %h4{:class => "nav-title"} Braithwell, Micklebring and Cliffton Villages
            .col-md-5
              .row
                %ul.nav.navbar-nav.navbar-right.pull-left
                  = navbar_link_to :root, title: "Go to the home page", identifier: :X do
                    = fa_icon 'home'
                    Home
                  = navbar_link_to new_recording_path, title: "Go to the upload page", identifier: :X do
                    = fa_icon 'upload'
                    -#see https://fortawesome.github.io/Font-Awesome/icons/ for these fa_icon
                    Upload
                  = navbar_link_to about_path, title: "Go to the about page", identifier: :X do
                    = fa_icon 'university'
                    -#see https://fortawesome.github.io/Font-Awesome/icons/ for these fa_icon
                    About
                  = navbar_link_to '#', title: "Go to the event page", identifier: :X do
                    = fa_icon 'child'
                    -#see https://fortawesome.github.io/Font-Awesome/icons/ for these fa_icon
                    Events
                  = navbar_link_to map_path, title: "Go to the map page", identifier: :X do
                    = fa_icon 'map-marker'
                    Map
                  = navbar_link_to contact_path, title: "Go to the contact page", identifier: :X do
                    = fa_icon 'envelope'
                    -#see https://fortawesome.github.io/Font-Awesome/icons/ for these fa_icon
                    Contact
              .row
                .input-group
                  %span{:class => "input-group-addon"}
                    %i{:class => "glyphicon glyphicon-search"}
                  %input{:type => "text", :class => "form-control", :placeholder => "Search"}
                  %span.input-group-btn
                    %button{:class => "btn btn-default", :type => "buton"}Search

      #main-container
        = yield

      %footer#footer
        %nav.navbar.navbar-default
          .row#footer-row
            .col-md-6
              %div.footer_img
                = image_tag('lottery_img.png')
            .col-md-3.pull-right#moderator-login
              %a.pull-right{:href => "#"} Moderator Login
