!!!
%html
  %head
    %title Village Memories - #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    = stylesheet_link_tag    "application", media: :all
    = javascript_include_tag "application"
    = yield :scripts

    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body{ class: environment_notice_body_class }
    = render 'layouts/environment_notice'
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            - if name == 'notice'
              = fa_icon('check', class: 'flash-success')
            - else
              = fa_icon('warning', class: 'flash-error')
            = msg
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss

    %noscript
      .warning-page-cover
        .alert.alert-info
          %h2 Sorry, it appears that you are using a web browser without JavaScript which prevents us offering you a rich online experience.
          %p Please enable JavaScript or use a different, up to date, web browser.

    // Navigation Bar
    %nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#{root_path}"} Village Memories Group
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            = navbar_link_to root_path, title: "Go to the home page", identifier: :X do
              = fa_icon 'home'
              Home
            = navbar_link_to upload_path, title: "Go to the upload page", identifier: :X do
              = fa_icon 'upload'
              Upload
            = navbar_link_to about_path, title: "Go to the about page", identifier: :X do
              = fa_icon 'university'
              About
            = navbar_link_to '/events', title: "Go to the event page", identifier: :X do
              = fa_icon 'child'
              Events
            = navbar_link_to map_path, title: "Go to the map page", identifier: :X do
              = fa_icon 'map-marker'
              Map
            = navbar_link_to contacts_path, title: "Go to the contact page", identifier: :X do
              = fa_icon 'envelope'
              Contact

    // Main Body
    .container#main-container
      .custom-panel
        = yield

      // Footer
      %hr
      %footer
        .row
          .col-md-8
            = image_tag('lottery_img.png')

          - if mod_signed_in? && (request.path == "/modpanel" || request.path == "/modlist")
            .col-md-3.pull-right#moderator-login
              = link_to 'User Manual', user_manual_path
              = link_to destroy_mod_session_path, method: :delete, class: "pull-right", title: "Log out" do
                %i.fa.fa-sign-out
                Moderator Logout
          - elsif mod_signed_in?
            .col-md-3.pull-right#moderator-login
              = link_to 'User Manual', user_manual_path
              %a.pull-right{:href => "/modpanel"} Moderator Controls
          - else
            .col-md-3.pull-right#moderator-login
              = link_to 'User Manual', user_manual_path
              %a.pull-right{:href => "/modpanel"} Moderator Login
